// Start navbar
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a(class="navbar-brand", href="#") #{brand}
  button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
    i.fa.fa-bars.fa-2x
  div(class="collapse navbar-collapse", id="navbarSupportedContent")
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a(class="nav-link" href="#") Home
          span.sr-only (current)
      li.nav-item
        a(class="nav-link" href="#") Link 1
      li.nav-item
        a(class="nav-link" href="#") Link 2
// End navbar