-var brand = "Atlas";

-var title = brand + " - modern & simple design";

-var description = "Atlas description";

-var author = "Sara Anhar & Mohssine Aboutaj";

-var mainColor = "#fff";

//- max words is 20
-var keywords = "design, gulp, template";