/**Start About**/

#about {
  position: relative;
  #section-1{
    h1 {
      @extend .h1;
      color: $robin-s-egg;
      margin-top: 20px;
      span {
        color: $dark-gey-blue;
      }
    }
    h4 {
      @extend .h4;
    }
    #list-line {
      i {
        position: relative;
        left: -5px;
        top: -25px;
        opacity: 0.8;
      }
      text-align: center;
      li {
        display: inline-block;
        list-style: none;
        padding: 25px ;
        div {
          @extend .line-bas;
          width: 300px;
        }
      }
    }
    h2 {
      color: $dark-gey-blue;
      font-weight: 400;
      span {
        font-weight: bold;
      }
    }
    #line {
      @extend .line-bas;
      width: 550px;
      margin: 20px auto;
    }
    #para-1, #para-2 {
      @extend .paragraphes;
    }
    #list-2 {
      position: relative;
      left: -50px;
      li {
        display: inline-block;
        list-style: none;
        color: $dark-gey-blue;
        font-size: 16px;
        text-transform: uppercase;
        border-right: 1px solid $dark-gey-blue;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
      }
      #selected {
        color: $robin-s-egg;
        font-weight: bold;
      }
    }
    button {
      background-color: $robin-s-egg;
      border: none;
      border-radius: 50px 50px;
      height: 50px;
      width: 200px;
      color: $primary;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
    }
    #image-about {
      height: 320px;
      border: 2px solid $robin-s-egg;
      border-radius: 5px;
      margin-left: 40px;
    }
    img {
      height: 300px;
      border-radius: 5px;
      position: absolute;
      top: 10px;
      z-index: 1;
      position: absolute;
      top: 30px;
      right: 40px;
      left: 30px;
      width: calc(100% - (40px + 30px))
    }
  }
  #section-2 {
    margin-top: 100px;
    background: url('../images/projectmanager-bg.jpg') no-repeat;
    background-size: 100% 600px;
    #overlay {
      position: relative;
      height: 600px;
      width: 100%;
      background-color: black;
      opacity: 0.8;
      z-index: 1;
    }
    .container {
        position: absolute;
        top: 650px;
        //false//margin:50px 50px;
        z-index: 1;
      img {
        height: 450px;
        width: 450px;
        border-radius: 250px;
        border: 10px solid $robin-s-egg;
        
      }
      h1 {
        font-weight: bold;
        color: $primary;
        //margin-top: 50px;
      }
      h2 {
        color: $robin-s-egg;
        font-weight: 400;
        margin-bottom: 30px;
      }
      #parag-1, #parag-2 {
        font-size: 15px;
        line-height: 1.56;
        font-style: italic;
        color: $primary;
        opacity: 0.7;
        font-weight: 200;
        line-height: 1.56;
        margin-bottom: 20px;
      }
      #parag-2 {
        border-left: 5px solid $robin-s-egg;
        padding: 10px 30px;
      }
      ul {
        li {
          display: inline-block;
          list-style: none;
          margin: 5px 0 0 5px;
          height: 70px;
          width: 70px;
          border: 2px solid $robin-s-egg;
          border-radius: 35px;
          &:hover {
            background-color: $robin-s-egg;
          }
          a {
            i {
              padding: 20px;
              font-size: 30px;
              color: $robin-s-egg;
              &:hover {
                color: $primary;
              }
            }
          }
          
        }
      }
    }
  }
}
