//- include variables
include partials/variables

doctype
html(lang="en")
  head
    include partials/head
  body
    //- include navbar
    include partials/navbar


    //- include header
    include sections/header

    //- include about
    include sections/about

    //- include services
    include sections/services


    //- include footer
    include partials/footer
